*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
}
#banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url(img/pexels-pixabay-531880.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.logo{
    width:80px ;
    position: absolute;
    top: 4%;
  left: 3%;
}
.banner-text h2{
   
    top: 5%;
    left: 9%;
   position:absolute;
    color: white;
    line-height:1.5 ;
    letter-spacing: 2px;

}
.banner-text h1{
    text-align: center;
    color: rgb(98, 0, 0);
    padding-top: 180px;
    font-size: 110px;
}
.banner-text p{
    position:absolute;
    top: 20%;
    left: 40%;
    color: #fff;
    padding-top: 180px;
    font-size: 30px;
    font-weight: bold;
}
.btn{
    top: 55%;
    left: 45%;
    position: absolute;

}
.btn a{
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    font-weight: bolder;
    
    display: block;
    width: 70%;
    border: 3px solid crimson;
border-radius:25px;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
}

.btn a:hover {
    background: crimson;
    transform: scale(1.1);
}


.Menu{
    position:absolute;
    left: 50%;
   
    top:5%;
}
ul{
   list-style: none;
    display:flex;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 62px;
    font-weight: bolder;

}
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: crimson;
    font-weight: bolder;

}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
   flex-basis: 50%;
   margin: auto; 
  
}
.features-img img{
    width: 70%;
   border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight:150px;
    color:crimson;
}
.features-data{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-text p{
    padding: 0 20px;
    text-align: intial;
}
.container1{
    
    display:flex ;
   
  
   width: 80%;
    justify-content: space-around;
    margin: auto;
}
.container1 h1{
    color: black;
    
    font:bolder;

}
.container2{
    
    display:flex ;
   
  
   width: 80%;
    justify-content: space-around;
    margin: auto;
}
.container2 h1{
    color: black;
    
    font:bolder;

}



.box{
    margin: 20px;
    height: 300px;
    text-align: justify;
    padding: 40px;
    color: rgb(16, 14, 14);
    line-height: 1.6;
    width: 400px;
    box-shadow: 0 5px 10px black;
}
.box1{
   
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
}
.box1 h1{
    
    color: crimson;
}
.box2{
    
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
 }
 .box2 h1{
     
     color: crimson;
 }
 .box3{
 
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0,0,0,0.7);

 }
 .box3 h1{
     
     color: crimson;
 }
 .box4{
    background-image: url(img/3.jpg);
 
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
 }
 .box4 h1{
     
     color: crimson;
 }
   /*FOOTER*/

#footer{
    padding: 100px 0 20px;
  background: #efefef;
   }
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left h1{
    color: crimson;
}

.footer-left{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.footer-right h1{
    color: crimson;
}

.footer-right{
    text-align: right;
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}
 .time {
    font-size: 50px;
 }
